@import '../../../../../styles/variables.scss';

.post-nav-wrap {
  @include flex(space-between, null);
  width: 100%;
  padding: 0 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.post-likes {
  li {
    display: inline-block;
    img {
      height: 24px;
      padding: 0 5px;
    }
  }
}

.bookmark {
  height: 24px;
  padding-right: 5px;
}
