@import '../../../../../styles/variables.scss';

.post {
  display: flex;
  flex-direction: column;
  border: 1.4px solid #dbdbdb;
  margin-top: 30px;
  background-color: white;
  .post-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  .comments-wrapper {
    @include flex(center, center);
    width: 100%;
    height: 55px;
    margin: 0;
    border-top: 1.4px solid #dbdbdb;
    input {
      width: 80%;
      height: 20px;
      border: none;
      resize: none;
      padding: 0 10px;
    }
    .button {
      width: 70px;
      background: none;
      border: none;
      color: #0095f6;
      font-weight: bold;
    }
  }
}
