* {
  box-sizing: border-box;
  font-size: 12px;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
}

h1 {
  font-family: 'Lobster', cursive;
  color: #262626;
}

.bold {
  font-weight: bold;
}

.hashtag {
  color: #00376b;
}

.grayfont {
  color: #8e8e8e;
}

.button {
  width: 70px;
  background: none;
  border: none;
  color: #0095f6;
  font-weight: bold;
}
